@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="@Url.Content("~/css/CRUD_Team.css")" rel="stylesheet" type="text/css"/>

<div class="main2">
    <div class="container-md text-center">
        <div class="row justify-content-md-center">
            <h2 class="tittle">Sobre Nosotros</h2>
            <div class="text-center">
                <img class="text-center" src="~/img/Logo.png" alt="logo">
            </div>
            <div class="row g-3">
                <p>Somos una aplicación con el objetivo de facilitar el manejo de equipos deportivos en las entidades estudiantiles o profesionales, teniendo en cuenta las diferentes disciplinas que se practican en el país.</p>
                <p>Brindando reportes a base de la información colocada dentro de la aplicación por equipos, así mismo brindando información de manera personal para los jugadores. Así mismo permitiendo la publicación de enunciados para todo el equipo, y mantener una comunicación activa. </p>
            </div>
        </div>
    </div>
</div>
