@model reSports_Proyect_MM.Models.Asistencium

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4 p-3" style="background-color:white; border-radius:10px">
        <div>
            <h1>Editar Asistencia</h1>
            <hr />
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaAsistencia" class="control-label">Fecha</label>
                <input asp-for="FechaAsistencia" class="form-control" />
                <span asp-validation-for="FechaAsistencia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asistio" /> Asistió
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RazonFalta" class="control-label">Razón Falta</label>
                <br>
                <span style="color:red; font-size:12px;">*Dejar en blanco si asistió</span>
                <input asp-for="RazonFalta" class="form-control" />
                <span asp-validation-for="RazonFalta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Nombre Usuario</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center form-group mt-3 mb-3">
                <input style="background-color:#1089e4;" type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
